body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.header {
    background-color: white;
    padding: 10px;
}

.footer {
    background-color:white;
    padding: 10px;
}